{{#section 'title'}}
	<title>代客下单</title>
{{/section}}
<div class="container" id="order">
	<form id="orderform" class="needs-validation" @submit.prevent="validateBeforeSubmit">
		<div class="form-group row">
            <label for="productName" class="col-3 col-form-label text-right">选布</label>
            <div class="col-9">
	            <input type="text" id="productName" autocomplete="off" style="width:300px;" name="productName" :class="{'is-invalid': errors.has('productID'),'form-control':true}" data-vv-delay="500" v-model="productName" v-validate="'required'" >
	            <span v-if="typeName!=''">\{{typeName}}</span>
	            <input type="hidden" v-model="productID" name="productID">
	            <i v-show="errors.has('productName')" class="fa text-danger fa-warning"></i>
	            <span v-show="errors.has('productName')" class="help text-danger">\{{ errors.first('productName') }}</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="number" class="col-3 col-form-label text-right">米数</label>
            <div class="col-9">
                <input type="number" :class="{'is-invalid': errors.has('number')}" data-vv-delay="500" v-model="number" :v-validate="'required|numeric|max:stockNumber'" class="form-control" name="number">
                <i v-show="errors.has('number')" class="fa text-danger fa-warning"></i>
                <span v-show="errors.has('number')" class="help text-danger">\{{ errors.first('number') }}</span>
            </div>
        </div>
        <div class="form-row" v-if="productID>0&&number>0">
        	 <label class="col-3 col-form-label text-right"></label>
        	<div class="form-group col-9">
            	<span v-if="price>0">
            		<label>\{{number}}</label>*<label>\{{price}}</label>=<label>\{{totalPrice}}</label>
            	</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="UserWeiXinID" class="col-3 col-form-label text-right">微信名</label>
            <div class="col-9">
                <input type="text" name="userWeiXinName" style="width:300px;" id="userWeiXinName" :class="{'is-invalid': errors.has('userWeiXinName'),'form-control':true}" data-vv-delay="500" v-model="userWeiXinName" v-validate="'required'">
                <i v-show="errors.has('userWeiXinName')" class="fa text-danger fa-warning"></i>
                <span v-show="errors.has('userWeiXinName')" class="help text-danger">\{{ errors.first('userWeiXinName') }}</span>
            </div>
        </div>
        <div class="form-group row">
	        <div class="col-3"></div>
	        <div class="col-9">
	        	<button class="btn btn-primary" type="submit">保存</button>
	        </div>
        </div>
	</form>
</div>
<script type="text/x-handlebars-template" id="resultTemplate">
	<div class="row w-100 bg-white" style="width:300px;">
		<div class="col-4 pr-0">
			<img class="img-thumbnail rounded" src="/\{{ImgUrl}}">
		</div>
		<div class="col-8">
			<div>\{{ProductName}}-\{{TypeName}}|库存（\{{StockNumber}}）</div>
		</div>
	</div>
</script>
<script type="text/x-handlebars-template" id="userTemp">
	<li class="list-group-item" style="width:300px;">\{{WeiXinName}}-\{{UserName}}-\{{ID}}</li>
</script>
{{#section 'jquery'}}
    <!--typeahead-->
    <script src="https://cdn.bootcss.com/typeahead.js/0.11.1/bloodhound.min.js"></script>
    <script src="https://cdn.bootcss.com/typeahead.js/0.11.1/typeahead.bundle.js"></script>
    <script src="https://cdn.bootcss.com/typeahead.js/0.11.1/typeahead.jquery.js"></script>
    <!--typeahead-->
    <script src="https://cdn.bootcss.com/handlebars.js/4.0.11/handlebars.min.js"></script>
	<script type="text/javascript">

		var controlUrl="/order/";
	    Vue.use(VeeValidate,{locale: 'zh_CN'});
	    var vm=new Vue({
	    	 el: "#order",
	    	 data:{
                productName:'',
	    	 	productID:0,
	    	 	typeID:0,
	    	 	typeName:'',
                userWeiXinID:'',
                userID:'',
                userWeiXinName:'',
                userName:'',
	    	 	number:0,
	    	 	price:0,
                totalPrice:0,
                stockNumber:0
	    	 },
	    	 methods:{
	    	 	validateBeforeSubmit:function () {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                      this.save();
                      console.log("success");
                      return;
                    }
                  });
            	},
            	save:function () {
            		var order={
                        productName:vm.productName,
                        productID:vm.productID,
                        typeID:vm.typeID,
                        userWeiXinID:vm.userWeiXinID,
                        userID:vm.userID,
                        userWeiXinName:vm.userWeiXinName,
                        userName:vm.userName,
                        number:vm.number,
                        price:vm.price,
                        totalPrice:vm.totalPrice
                    };
                    swal({title:"<i class=\"fa fa-circle-o-notch fa-spin fa-3x fa-fw\"></i><span class=\"sr-only\">Loading...</span>数据处理中，请稍后"});
                    axios.post(controlUrl+'add',order)
                    .then(function (response) {
                        $('#orderform')[0].reset();
                        swal.close();
                        toastr.success('数据添加成功了，恭喜亲~', '')
                    })
                    .catch(function (error) {
                        swal.close();
                        console.log(error);
                        toastr.error('下单失败了，亲稍等，截图联系管理员~', '')

                    }); 
            	}
	    	 },
	         watch: {
	            'number':function newRowWID() {
	               this.totalPrice=this.number*this.price;
	            }
	        }
	    });
        $(function () {
             //远程数据源  产品列表
	        var prefetch_product = new Bloodhound({
	            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('ProductName'),
	            queryTokenizer: Bloodhound.tokenizers.whitespace,
	            // 一次取所有数据
	            prefetch: '/product/getProductAll',
	            remote:{
	            	url:'/product/getProductAllByName?q=%QUERY',
	            	wildcard:'%QUERY'
	            }
	        });

	        prefetch_product.initialize();
	        prefetch_product.get('0999')
	        $('#productName').typeahead(null, {
	            name: 'productInfo',
	            displayKey: 'ProductName',
	            source: prefetch_product.ttAdapter(),
	            templates:{
	            	empty:['<div class="empty">没找到相关产品信息</div>'].join('\n'),
	            	suggestion: Handlebars.compile($("#resultTemplate").html())
	            }
	        });
			$('#productName').bind('typeahead:select', function(ev, row) {
				vm.productName=row.ProductName;
				vm.productID=row.PID;
				vm.typeID=row.TypeID;
				vm.typeName=row.TypeName;
				vm.price=row.Price;
                vm.stockNumber=row.TotalNumber-row.UsedNumber;
			});

            //远程数据源 用户
            var prefetch_user=new Bloodhound({
                datumTokenizer:Bloodhound.tokenizers.obj.whitespace('WeiXinName'),
                queryTokenizer:Bloodhound.tokenizers.whitespace,
                prefetch:'/user/getAllUser?q=queryall'
            });
            prefetch_user.initialize();
            prefetch_user.get('Janny');
            $('#userWeiXinName').typeahead(null, {
                name: 'userInfo',
                displayKey: 'WeiXinName',
                source: prefetch_user.ttAdapter(),
                templates:{
                    empty:['<div class="empty">没找到相关产品信息</div>'].join('\n'),
                    suggestion: Handlebars.compile($("#userTemp").html())
                }
            });
            $('#userWeiXinName').bind('typeahead:select', function(ev, row) {
                vm.userName=row.UserName;
                vm.userID=row.ID;
                vm.userWeiXinID=row.WeiXinID;
            });
        });
        
	</script>
{{/section}}