{{#section 'title'}}
	<title>打包信息</title>
{{/section}}
<div class="container-fluid" id="orderList">
	<div class="text-center"><h3>{{ProductName}}-{{Typename}}</h3></div>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">用户</th>
	      <th scope="col">单价</th>
	      <th scope="col">数量</th>
	      <th scope="col">总价</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr v-for="(item,index) in OrderList" v-model="OrderList">
	      <th scope="row">\{{item.ID}}</th>
	      <td>\{{item.UserID}}-\{{item.UserName}}</td>
	      <td>\{{item.Price}}</td>
	      <td>\{{item.Number}}</td>
	      <td>\{{item.TotalPrice}}</td>
	    </tr>
	  </tbody>
	</table>
</div>
{{#section 'jquery'}}
	<script type="text/javascript">
	var vm=new Vue({
    	el:"#userContainer",
    	data:{
    		ProductName:'{{model.ProductName}}',
    		ProductID:{{model.ProductID}},
    		TypeID:{{model.TypeID}},
    		TypeName:'{{model.Remark}}',
    		OrderList:{{model.OrderList}}
    	},
    	methods:{
    		validateBeforeSubmit:function () {
                this.$validator.validateAll().then((result) => {
                    
                  });
            }
    		
    	}
    });
	$(function () {
		
	});
	</script>
{{/section}}
