{{#section 'title'}}
	<title>{{title}}</title>
{{/section}}
<div class="container-fluid" id="orderList">
<form id="eidtform" class="needs-validation">
	<div class="text-center"><h3>\{{ProductName}}-\{{TypeName}}</h3></div>
	<table class="table table-hover table-sm table-striped">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">用户</th>
	      <th scope="col">单价</th>
	      <th scope="col">数量</th>
	      <th scope="col">总价</th>
	      <th scope="col">备注</th>
	      <th scope="col">操作</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr v-for="(item,index) in OrderList" v-model="OrderList">
	      <th scope="row">\{{item.ID}}</th>
	      <td>\{{item.UserID}}-\{{item.WeiXinName}}</td>
	      <td>
	      	\{{item.Price}}
	      </td>
	      <td>
	      	<div class="edit" v-if="item.edit" style="width:80px;">
	      		<input type="text" v-model="item.newNumber" class="form-control" :name="number_item.ID">
	      	</div>
	      	<div class="detail" v-else>\{{item.newNumber}}</div>

	      </td>
	      <td>
		    <div class="detail" v-if="!item.editFlag">
		      \{{item.TotalPrice}}
		    </div>
	      	<div class="edit" v-if="item.editFlag" style="width:80px;">
	      		<input type="text" v-model="item.TotalPrice" class="form-control" :name="TotalPrice_item.ID">
	      	</div>
	      </td>
	      <td>
	      	<div class="detail" v-if="!item.editFlag">
		      \{{item.Remark}}
		    </div>
	      	<div class="edit" v-if="item.editFlag" style="width:80px;">
	      		<input type="text" v-model="item.Remark" class="form-control" :name="Remark_item.ID">
	      	</div>
	      </td>
	      <td>
	      	<button type="button" v-if="!item.editFlag" class="btn btn-sm btn-info" @click="editor(item)">调整</button>
	      	<button type="button" v-if="item.editFlag" class="btn btn-sm btn-info" @click="edit(item)">保存</button>
	      	<button type="button" class="btn btn-sm btn-danger" @click="delOrder(item)">删除</button>
	      </td>
	    </tr>
	  </tbody>
	</table>
</form>
</div>
{{#section 'jquery'}}
	<script type="text/javascript">

	Vue.use(VeeValidate,{locale: 'zh_CN'});
	var vm=new Vue({
    	el:"#orderList",
    	data:{
    		ProductName:'',
    		ProductID:'',
    		TypeID:{{id}},
    		TypeName:'',
    		TotalNumber:0,
    		OrderList:[{
    			ID: 73,
		        ProductID: 46,
		       OrderNO: '20188246',
		       Price: 30,
		       UserID: 72,
		       IsBalance: 0,
		       InputTime: '2018-08-14T13:54:41.629Z',
		       TotalPrice: 60,
		       Number: 2,
		       IsPack: 0,
		       IsPost: 0,
		       PostCode: '',
		       BalanceTime: null,
		       PackTime: null,
		       PostTime: null,
		       UserWeiXinID: 'weixinID',
		       TypeID: 23,
		       Remark: '',
		       WeiXinName: 'Fiona Miss',
		       editFlag:false,
		       newNumber:0
    		}]
    	},
    	methods:{
            editor:function (obj) {
            	var index=vm.OrderList.indexOf(obj);
            	vm.OrderList[index].editFlag=!vm.OrderList[index].editFlag;
            }
            ,edit:function (obj) {
            	var vr= validator.validateAll({
				    decimal: obj.Number,
				    decimal: obj.TotalPrice
				}).then((result)=>{
					if(result){
						axios.post('/order/eidtorder',{
							ID:parseInt(obj.ID),
							Number:parseFloat(obj.newNumber),
							diffNumber:parseFloat(obj.Number)-parseFloat(obj.newNumber),
							Total:obj.Total,
							Remark:obj.Remark,
							TypeID:vm.TypeID
						})
	                    .then(function (response) {
	                    	var index=vm.OrderList.indexOf(obj);
							vm.OrderList.splice(index,1);
	                        swal.close();
	                        
	                        toastr.success('订单删除成功了，恭喜亲~', '')
	                    })
	                    .catch(function (error) {
	                        swal.close();
	                        console.log(error);
	                        toastr.error('删除失败了，亲稍等，截图联系管理员~', '')

	                    }); 
					}else{
						toastr.success('输入正确的格式亲~', '')
					}
				});
				
            }
    		,delOrder:function (obj) {
    			swal({title:"<i class=\"fa fa-circle-o-notch fa-spin fa-3x fa-fw\"></i><span class=\"sr-only\">Loading...</span>数据处理中，请稍后"});
    			axios.post('/order/delOrder',{ID:parseInt(obj.ID),TypeID:parseInt(vm.TypeID)})
                    .then(function (response) {
                    	var index=vm.OrderList.indexOf(obj);
						vm.OrderList.splice(index,1);
                        swal.close();
                        
                        toastr.success('订单删除成功了，恭喜亲~', '')
                    })
                    .catch(function (error) {
                        swal.close();
                        console.log(error);
                        toastr.error('删除失败了，亲稍等，截图联系管理员~', '')

                    }); 
    		}
    	}
    });
	$(function () {
		getProductInfo();
	});
	function getProductInfo() {
		var ID={{id}};
		axios.post('/product/packinfo',{ID:ID})
	    .then(function (response) {
	    	var model=response.data.model;
	    	
	        vm.TypeID=model.ID;
	        vm.Price=model.Price;
	        vm.ProductID=model.ProductID;
	        vm.ProductName=model.ProductName;
	        vm.TypeName=model.Remark;
	        vm.TotalNumber=model.TotalNumber;
	        vm.OrderList=[];
	        $.each(model.OrderList,function (index,item) {
	        	item.editFlag=false;
	        	item.newNumber=item.Number;
	        	vm.OrderList.push(item);
	        });
	    })
	    .catch(function (error) {
	        console.log(error);
	    }); 
	}
	</script>
{{/section}}
