{{#section 'title'}}
	<title>{{title}}</title>
{{/section}}
<div class="container-fluid" id="orderList">
	<div class="text-center"><h3>\{{ProductName}}-\{{Typename}}</h3></div>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">用户</th>
	      <th scope="col">单价</th>
	      <th scope="col">数量</th>
	      <th scope="col">总价</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr v-for="(item,index) in OrderList" v-model="OrderList">
	      <th scope="row">\{{item.ID}}</th>
	      <td>\{{item.UserID}}-\{{item.UserName}}</td>
	      <td>\{{item.Price}}</td>
	      <td>\{{item.Number}}</td>
	      <td>\{{item.TotalPrice}}</td>
	    </tr>
	  </tbody>
	</table>
</div>
{{#section 'jquery'}}
	<script type="text/javascript">
	var vm=new Vue({
    	el:"#userContainer",
    	data:{
    		ProductName:'',
    		ProductID:'',
    		TypeID:{{id}},
    		TypeName:'',
    		OrderList:[{
    			ID: 73,
		        ProductID: 46,
		       OrderNO: '20188246',
		       Price: 30,
		       UserID: 72,
		       IsBalance: 0,
		       InputTime: '2018-08-14T13:54:41.629Z',
		       TotalPrice: 60,
		       Number: 2,
		       IsPack: 0,
		       IsPost: 0,
		       PostCode: '',
		       BalanceTime: null,
		       PackTime: null,
		       PostTime: null,
		       UserWeiXinID: 'weixinID',
		       TypeID: 23,
		       Remark: '',
		       WeiXinName: 'Fiona Miss'
    		}]
    	},
    	methods:{
    		validateBeforeSubmit:function () {
                this.$validator.validateAll().then((result) => {
                    
                  });
            }
    		
    	}
    });
	$(function () {
		getProductInfo();
	});
	function getProductInfo() {
		var ID={{id}};
		axios.post('/product/packinfo',{ID:ID})
	    .then(function (response) {
	    	var model=response.data.model;
	    	vm.ImageList=[];
	    	$.each(model.ImageList,function (index,item) {
	    		vm.ImageList.push({
	    			id:item.ID,
			        url:'/'+item.ImgUrl,
			        price:0,
			        stockNum:0,
			        mark:''
	    		});
	    	});
	        vm.ImageTypeList=[];
	    	$.each(model.TypeList,function (index,item) {
	    		vm.ImageTypeList.push({
	    			id:item.ID,
			        url:'/'+item.ImgUrl,
			        price:item.Price,
			        stockNum:item.TotalNumber-item.UsedNumber,
			        mark:item.Remark
	    		});
	    	});
	        vm.WID=model.WID;
	        vm.ProductNo=model.ProductNo;
	        vm.Remark=model.Remark;
	        vm.ProductName=model.ProductName;
	        vm.Width=model.Width;
	        vm.ID=model.ID;
	    })
	    .catch(function (error) {
	        console.log(error);
	    }); 
	}
	</script>
{{/section}}
