{{#section 'title'}}
	<title>{{title}}</title>
{{/section}}
<div class="container-fluid" id="orderList">
<div class="h8"></div>
<div class="text-right">
  	<button type="button" class="btn btn-sm btn-primary" onclick="toPrintView()">打印</button>
</div>
<form id="eidtform" class="needs-validation">
	<div class="text-center"><h3>\{{WeiXinName}}-\{{UserName}}-{{userID}}</h3></div>
	<ul class="list-group">
	  <li class="list-group-item" v-for="(item,index) in AddressList">
	  姓名：\{{item.Name}}  电话：\{{item.Phone}}  住址：\{{item.Address}}  邮编：\{{item.ZipCode}}
	  </li>
	</ul>
	<div class="h8"></div>
	<div class="text-right">
	  	<button type="button" v-if="!IsPost" class="btn btn-sm btn-primary"  @click="IsPostFun()">已快递</button>
	  	<span class="text-info" v-if="IsPost">已快递</span>
	  	<button type="button" v-if="!IsBalance" class="btn btn-sm btn-primary"  @click="IsBalanceFun()">已结算</button>
	  	<span class="text-warning" v-if="IsBalance">已结算</span>
	  	<span class="text-warning" v-if="IsBalance">实收：\{{TotalPriceActive}}</span>
	</div>
	<div class="h8"></div>
	<table class="table table-hover table-sm table-striped" id="priantTable">
	  <thead>
	    <tr>
	      <th scope="col" style="width:30px">#</th>
	      <th scope="col" style="width:220px">产品</th>
	      <th scope="col" style="width:50px">数量</th>
	      <th scope="col" style="width:70px" class="text-right">总价</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr v-for="(item,index) in OrderList" v-model="OrderList">
	      <th scope="row">\{{index+1}}</th>
	      <td>
 			\{{item.ProductName}}-\{{item.TypeName}}
 			<span class="text-warning" v-if="item.Remark.length>1"><small>备注\{{item.Remark}}</small></span>
	      </td>
	      <td>×\{{item.newNumber}}</td>
	      <td class="text-right">
		     ￥\{{item.TotalPrice}}
	      </td>
	    </tr>
	  </tbody>
	  <tfoot>
	    <tr class="table-info">
	      <td colspan="2" class="text-right">统计：    \{{TotalOrderNumber}}个订单 </td>
	      <td colspan="3">\{{TotalNumber}}米（件）    总价：￥\{{TotalPrice}}</td>
	      <td></td>
	    </tr>
	  </tfoot>
	</table>
</form>
</div>
{{#section 'jquery'}}
	<script type="text/javascript">

	Vue.use(VeeValidate,{locale: 'zh_CN'});
	var vm=new Vue({
    	el:"#orderList",
    	data:{
    		ID:0,
    		WeiXinID:'',
    		WeiXinName:'',
    		UserName:'',
    		TotalPrice:0,
    		TotalNumber:0,
    		TotalOrderNumber:0,
    		IsPost:false,
    		IsBalance:false,
    		TotalPriceActive:0,
    		AddressList:[{
    			ID:0,
    			Address:'',
    			Name:'',
    			Phone:'',
    			ZipCode:''
    		}],
    		OrderList:[{
    			ID: 73,
		        ProductID: 46,
		        ProductName:'',
		       OrderNO: '20188246',
		       Price: 30,
		       UserID: 72,
		       IsBalance: 0,
		       InputTime: '2018-08-14T13:54:41.629Z',
		       TotalPrice: 60,
		       Number: 2,
		       IsPack: 0,
		       IsPost: 0,
		       PostCode: '',
		       BalanceTime: null,
		       PackTime: null,
		       PostTime: null,
		       UserWeiXinID: 'weixinID',
		       TypeID: 23,
		       TypeName:'',
		       Remark: '',
		       WeiXinName: 'Fiona Miss',
		       editFlag:false,
		       newNumber:0
    		}]
    	},
    	methods:{
    		IsBalanceFun:function () {
    			var isBalance=0;
    			
    			if(!vm.IsBalance){
    				isBalance=1;
					  swal({
					  title: '已核算',
					  input: 'number',
					  showCancelButton: true,
					  confirmButtonText: 'Submit',
					  showLoaderOnConfirm: true,
					  allowOutsideClick: false
					}).then(function(number) {
						var ID=parseInt({{id}});
						var totalPriceActive=parseFloat(number.value);
		    			 axios.post('/order/setBalance',{isBalance:isBalance,totalPriceActive:totalPriceActive,ID:ID})
					    .then(function (response) {
		                    swal.close();
		                    vm.IsBalance=!vm.IsBalance;
		                    vm.TotalPriceActive=totalPriceActive;
					    	toastr.success('设置成功了，恭喜亲~', '')
					    })
					    .catch(function (error) {
					        console.log(error);
					    });
					  
					})

				}
    		},
    		IsPostFun:function() {
    			swal({title:"<i class=\"fa fa-circle-o-notch fa-spin fa-3x fa-fw\"></i><span class=\"sr-only\">Loading...</span>数据处理中，请稍后"});
    			var isPost=0;
    			if(!vm.IsPost){
    				isPost=1;
    			}
    			var ID=parseInt({{id}});
    			 axios.post('/order/setPost',{isPost:isPost,ID:ID})
			    .then(function (response) {
                    swal.close();
                    vm.IsPost=!vm.IsPost;
			    	toastr.success('设置成功了，恭喜亲~', '')
			    })
			    .catch(function (error) {
			        console.log(error);
			    }); 

    		},
            calcuteMsg:function () {
            	vm.TotalNumber=0;
	        	vm.TotalPrice=0;
	        	vm.TotalOrderNumber=0;
	        	$.each(vm.OrderList,function (index,item) {
		        	vm.TotalNumber+=parseFloat(item.Number);
		        	vm.TotalPrice+=parseFloat(item.TotalPrice);
		        });
		        vm.TotalNumber=vm.TotalNumber.toFixed(2);
		    	vm.TotalPrice=vm.TotalPrice.toFixed(2)

            }
            
    	}
    });
	$(function () {
		getPostInfo();
	});
	function getPostInfo() {
		var ID={{id}};
		var userID={{userID}}
		axios.post('/order/queryPostInfo',{ID:ID,UserID:userID})
	    .then(function (response) {
	    	var model=response.data.model;
	    	
	        vm.ID=model.ID;
	        vm.WeiXinID=model.WeiXinID;
	        vm.WeiXinName=model.WeiXinName;
	        vm.UserName=model.UserName;
	        vm.OrderList=[];
	        vm.AddressList=[];
	        vm.TotalNumber=0;
	        vm.TotalPrice=0;
	        vm.TotalOrderNumber=0;
	        vm.IsPost=model.IsPost;
	        vm.IsBalance=model.IsBalance;
	        $.each(model.OrderList,function (index,item) {
	        	item.editFlag=false;
	        	item.newNumber=item.Number;
	        	vm.TotalNumber+=item.Number;
	        	vm.TotalOrderNumber+=1;
	        	vm.TotalPrice+=item.TotalPrice;
	        	vm.OrderList.push(item);
	        });
		    vm.TotalNumber=vm.TotalNumber.toFixed(2);


	        $.each(model.AddressList,function (index,item) {
	        	vm.AddressList.push(item);
	        });
	    })
	    .catch(function (error) {
	        console.log(error);
	    }); 
	}
	/*         打印预览        */        
	function toPrintView(){          
	    execPrint('eidtform','Preview');        
	}
	/*打印或预览print--打印，Preview--预览*/       
	function execPrint(myDiv,type){                    
	    var isCanPreview = (!-[1,]);                   
	    if(isCanPreview){ /*这个条件满足说明可以打印预览*/                    
	        document.all.WebBrowser.ExecWB(7,1);             
	    }else{                                          　　      
            var newstr = document.getElementById(myDiv).innerHTML;       　　     
            var oldstr = document.body.innerHTML;       　　      
            document.body.innerHTML = newstr;       　　      
            window.print();       　　      
            document.body.innerHTML = oldstr;                  
            return false;              
        }         
	} 
	</script>
{{/section}}
